*{
    box-sizing: border-box;
}
body{
    background-image: url(GRID_TABLAZAT/kepek/hatter.jpg);
}
main{
    width: 70%;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
    "h h h"
    "n a as"
    "f f f"
    ;
}
header{
    background-image: url(GRID_TABLAZAT/kepek/fejlec.jpg);
    height: 20vh;
    grid-area: h;
}
h1{
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
nav{
    grid-area: n;
}
ul{
    list-style: none;
    padding: 7px;
}
li{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(31, 98, 197);
    margin: 5px;
    padding: 10px;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    padding: 10px;
    color: wheat;
}
article{
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
aside{
    grid-area: as;
    border-left: 1px solid gray;
    padding: 10px;
}
footer{
    grid-area: f;
    background-color: rgb(31, 98, 197);
}
footer p {
    color: beige;
    padding: 5px;
    text-align: center;
}
p{
    text-align: justify;
}
table{
    border-collapse: collapse;
    margin: auto;
    border: 0px;
    width: 80%;
}
thead{
    background-color: rgb(130, 209, 240);
}
tr:nth-child(even){
    background-color: rgb(120, 200, 211);
}
tr{
    border: 1px solid gray;
}
td{
    padding: 10px;
}

@media screen and (max-width: 800px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "as"
        "f"
        ;
    }
  }
  @media screen and (min-width: 430px) {
    
  }